<a href="https://colab.research.google.com/github/nilarohmania/KKA-X-Semester-1-NilaR/blob/main/1_Fungsi_print_Nila_Rohmania_X_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

nama : nila rohmania

kelas : x-1

no absen : 25

#Menampilkan Teks Bebas

In [ ]:
print ("hello world")

hello world

In [ ]:
print("nila rohmania")

nila rohmania

#Menampilkan Nilai Variabel

In [ ]:
nama_idola = "hannan attaqi"

print(nama_idola)

hannan attaqi

In [ ]:
usia = 15

print(usia)

15

Latihan soal:
1. buat variabel nama saudara & tampilkan
2. buat variabel jumlah saudara & tampilkan

In [ ]:
nama_saudara = "nara"

print(nama_saudara)

nara

In [ ]:
jumlah_saudara = 1

print(jumlah_saudara)

1

#Menampilkan Nilai Variabel dan String

In [ ]:
print("nama idola saya adalah", nama_idola,". usianya adalah",usia,"tahun.")

nama idola saya adalah hannan attaqi . usianya adalah 15 tahun.

In [ ]:
print("nama idola saya adalah"  +nama_idola+ ". usianya adalah " +str(usia)+ " tahun")

nama idola saya adalahhannan attaqi. usianya adalah 15 tahun

In [ ]:
print(f"nama idola saya adalah {nama_idola}. usianya adalah {usia} tahun.")

nama idola saya adalah hannan attaqi. usianya adalah 15 tahun.

#Escape String

In [ ]:
print("nama: nila rohmania")
print("kelas: x.1")
print("no absen: 25")

nama: nila rohmania
kelas: x.1
no absen: 25

In [ ]:
print("nama: nila rohmania\nKelas: x.1\nno absen: 25")

nama: nila rohmania
Kelas: x.1
no absen: 25

In [ ]:
print("""nama\t\t : nila rohmania
kelas\t\t : x.1
no absen\t : 25""")

nama		 : nila rohmania
kelas		 : x.1
no absen	 : 25

In [ ]:
print("halo nama saya habib jafar")

halo nama saya habib jafar

In [ ]:
print('halo nama saya habib jafar')

halo nama saya habib jafar

In [ ]:
print('halo nama saya habib ja\'far')

halo nama saya habib ja'far

In [ ]:
print("halo nama saya habib ja'far")

halo nama saya habib ja'far

In [ ]:
print("bu shinta berkata, \"tolong fokus ke TV sejenak.\"")

bu shinta berkata, "tolong fokus ke TV sejenak."

In [ ]:
print('bu shinta berkata, "tolong fokus ke TV sejenak"')

bu shinta berkata, "tolong fokus ke TV sejenak"

In [ ]:
print("silakan simpan file tugas KKA difolder locak disk D:\\MAN Demak\\KKA\\tugas")

silakan simpan file tugas KKA difolder locak disk D:\MAN Demak\KKA\tugas

In [ ]:
print('Bu Shinta berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\\MAN Demak\\jadwal piket."')
print("\n")
print("senin\tselasa\trabu")
print("jielo\thasbi\tnaufal")
print("azam\ta'inun\tnurul")

bu shinta berkata, "berikut daftar piket harian kelas X.2 yang disimpan di file D:\MAN Demak\jadwal piket."


senin	selasa	rabu
jielo	azam	naufal
azam	a'inun	nurul

#Parameter Fungsi Print

In [ ]:
nama_siswa_1 = "Dias"
nama_siswa_2 = "Disa"
nama_siswa_3 = "Tyas"

print(nama_siswa_1, end=" ")
print(nama_siswa_2)

Dias Disa

In [ ]:
print(nama_siswa_1, nama_siswa_2)

Dias Disa

In [ ]:
print(nama_siswa_1, nama_siswa_2, sep="-")

Dias-Disa

In [ ]:
nama_siswa_3 = "Kinan"
nama_siswa_4 = "Azka"
nama_siswa_5 = "Naufal"
nama_siswa_6 = "Ridho"

print(nama_siswa_6, nama_siswa_3, nama_siswa_5, nama_siswa_4, nama_siswa_4, sep="/")

Ridho/Kinan/Naufal/Azka/Azka

In [ ]:
print(nama_siswa_4, end="*")
print(nama_siswa_4, end="*")
print(nama_siswa_5, end="*")
print(nama_siswa_3, end="*")
print(nama_siswa_6)

Azka*Azka*Naufal*Kinan*Ridho